.container {
	display: grid;
	place-items: center;
	padding-top: 6rem;
	padding-bottom: 10rem;
	background-color: #f0f0f0;

	@include respond(tab) {
		padding: 3rem 0;
	}

	@include respond(phone-medium) {
		padding: 0;
	}

	&__inner {
		display: grid;
		grid-column-gap: 2rem;
		grid-template-columns: minmax(min-content, 62rem);
		grid-template-rows: repeat(3, minmax(25rem, min-content));
		padding: 0 2rem;
		background-image: url("../images/clip.png");
		background-color: $color-white;

		@include respond(phone-medium) {
			padding: 0 1.5rem;
		}
	}
}
