.info {
	position: relative;
	grid-column: 1/-1;
	grid-row: 1/2;
	display: grid;
	grid-column-gap: 2.2rem;
	grid-template-columns: min-content 1fr;

	@include respond(phone-large) {
		grid-column-gap: 1.5rem;
	}

	@include respond(phone-medium) {
		grid-template-columns: 1fr 1px;
		grid-template-rows: min-content 1fr;
		grid-column-gap: 0;
	}

	&__photo {
		display: block;
		margin-top: 3rem;
		border-radius: 50%;
		width: 138px;

		@include respond(phone-medium) {
			grid-column: 1/-1;
			grid-row: 1/2;
			justify-self: center;
		}
	}

	&__about {
		grid-column: 2/3;
		display: grid;
		grid-row-gap: 3rem;
		padding: 2.6rem 0 3rem;

		@include respond(phone-medium) {
			grid-column: 1/-1;
			grid-row: 2/3;
		}
	}

	&__input {
		border: none;
		border-bottom: 2px solid $color-border;
		font-family: $font-family-roboto;
		font-weight: 400;
		font-size: 1.2rem;
		line-height: 0.7rem;
		letter-spacing: 0.12em;
		text-transform: uppercase;
		color: $color-text;
		background-color: transparent;

		@include respond(phone-medium) {
			padding-left: 1rem;
		}

		&:focus {
			outline: none;
			border: none;
			border-bottom: 2px solid $color-blue;
			color: $color-heading;
			background-color: transparent;
		}
	}

	&__stamp {
		position: absolute;
		right: -1.6rem;
		top: 7.3rem;
		z-index: 1;
		display: block;
		width: 18.4rem;

		@include respond(phone-medium) {
			top: 25rem;
			width: 15rem;
		}
	}
}
