.jslevel {
	grid-column: 1/-1;
	grid-row: 3/4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;

	&__chart {
		position: relative;
		max-width: 25.3rem;
	}

	&__levels {
		display: block;
		width: 100%;
	}

	&__pointer {
		position: absolute;
		left: 10.4rem;
		top: 100%;
		transform: translate(-50%, -50%) rotate(0);
		transform-origin: 90%;
		transition: 1.8s ease;
	}

	&__info {
		display: grid;
		grid-template-rows: repeat(2, min-content);
		align-items: center;
	}

	&__heading--my,
	&__heading--js {
		display: block;
	}

	&__meter {
		font-weight: 900;
		font-size: 5rem;
		line-height: 1;
		color: $color-blue;
	}
}
