.skills {
	grid-column: 1/-1;
	grid-row: 2/3;
	display: grid;
	grid-template-rows: min-content 1fr;
	grid-row-gap: 1.5rem;
	padding: 3rem 0 4rem;

	&__heading {
		grid-row: 1/2;
		grid-template-columns: 1/-1;
	}

	&__list {
		grid-column: 1/-1;
		display: grid;
		grid-gap: 3.3rem;
		grid-template-columns: repeat(auto-fit, 12rem);
		list-style: none;
		margin: 0;
		padding: 0;

		@include respond(phone-large) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include respond(phone-small) {
			grid-column-gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__item {
		padding: 0;
	}

	&__label {
		position: relative;
		padding-left: 3rem;
	}

	&__checkbox {
		position: absolute;
		left: 0;
		top: -3px;
		display: inline-block;
		border-radius: 5px;
		width: 19px;
		height: 19px;
		background-color: #eee;
	}

	&__skill {
		font-size: 1.2rem;
		line-height: 1;
		letter-spacing: 0.12em;
	}
}

.skills__input:checked + .skills__checkbox {
	background: url("../images/checked.png") 50% 50% no-repeat $color-blue;
}

.skills__input:focus ~ .skills__skill {
	color: $color-blue;
}
