@mixin heading {
	margin: 0;
	font-family: $font-family-roboto;
	font-weight: 500;
	font-size: 1.8rem;
	color: $color-heading;
}

.heading-1 {
	@include heading;
	line-height: 3rem;
}

.heading-2 {
	@include heading;
	line-height: 2.4rem;
}
