block vars
	-
		var baseDir = '/'
	-
		var title = 'Nine Lines Анкета'
	-
		var meta = {
			charset: 'utf-8',
			viewport: 'width=device-width',
			XUACompatible: 'IE=edge',
			description: 'Скажи мне кто ты и я скажу тебе твой уровень JavaScript!'
		}
	-
		var link = {
			icon16x16: 'images/favicon-16x16.png'
		}

doctype html
html(lang="ru")
	head
		block head-start
			block meta
				if meta.charset !== null
					meta(charset!=meta.charset)
				if meta.XUACompatible !== null
					meta(http-equiv="X-UA-Compatible" content!=meta.XUACompatible)
				if meta.viewport !== null
					meta(name="viewport" content!=meta.viewport)
				if meta.description !== null
					meta(name="description" content=meta.description)
				if title !== null
					title!= title
			block links
				if link.icon16x16 !== null
					link(rel="icon" href!=link.icon16x16 sizes="16x16")
			block styles
				link(rel="stylesheet" href= "https://fonts.googleapis.com/css?family=Roboto:300,500,900&display=swap&subset=cyrillic")
				link(rel="stylesheet" href="/css/main.css")
		block head-end
	body
		block body-start
			block content
			include main.pug
			block scripts
				script(src="./js/vendor.js")
				script(src="./js/main.js")
		block body-end