.info
	img.info__photo(src="images/photo.jpg" srcset="images/photo@2x.jpg 2x" alt="Фотография")
	.info__about
		input.info__input(type="text" name="name" placeholder="Имя" value="Мария Рушкова")
		input.info__input(type="text" name="birthday" placeholder="Дата рождения" value="16.08.1990")
		input.info__input(type="text" name="city" placeholder="Город" value="Гданьск")
		input.info__input(type="email" name="contacts" placeholder="Контактные данные" value="maryrushkova@gmail.com")
	img.info__stamp(src="images/stamp.png" alt="Декор печать")