.jslevel.js-level
	.jslevel__chart
		img.jslevel__levels(src="images/chart.png" alt="График")
		img.jslevel__pointer(src="images/arrow.png" alt="Указатель")
	.jslevel__info
		h2.jslevel__heading.heading-2 
			span.jslevel__heading--my Мой уровень владения
			span.jslevel__heading--js Java Script
			span.jslevel__meter 0
