//- .form__javascript-level.javascript-level
//-     .javascript-level__chart-container
//-         img.javascript-level__chart(src="./images/chart.png" alt="График")
//-         img.javascript-level__indicator.js-level-indicator(src="./images/arrow.png" alt="Указатель")
//-     .javascript-level__content
//-         h2.javascript-level__subtitle.subtitle Мой уровень владения <br/> Java Script
//-         span.javascript-level__value.js-level-value#meter 0

.jslevel.js-level
	.jslevel__chart
		img.jslevel__levels(src="./images/chart.png" alt="График")
		img.jslevel__pointer(src="./images/arrow.png" alt="Указатель")
	.jslevel__info
		h2.jslevel__heading.heading-2 
			span.jslevel__heading--my Мой уровень владения
			span.jslevel__heading--js Java Script
			span.jslevel__meter 0
