*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
	scroll-behavior: smooth;

	@include respond(tab) {
		font-size: 56.25%; //1rem = 9px  9px/16px = 56.25%
	}
}

body {
	font-family: $font-family-roboto;
	font-weight: 500;
	font-size: 1.2rem;
	-webkit-font-smoothing: antialiased;
	line-height: 2.2;
	color: $color-text;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
