// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-text: #666;
$color-border: #333;
$color-blue: #0093d7;
$color-heading: #010101;

// FONTS
$font-family-roboto: "Roboto", sans-serif;
